header, footer{
    font-size: 2rem;
    color: black;
    text-align: center;
    height: 80px;

}
header{
    background-color: blue;
}
footer{
    background-color: green;
}
.content > .row{
    height: calc(100vh - 160px);
}
.content, nav{
    background-color: aqua;
    text-align: center;
}

.b{
    border: 1px solid;
}

.main > .row{
    height: 100%;
}
.main > .row > .article article{
    background-color: orangered;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    height: 100%;
}
.main > .row > .aside{
    background-color: rgb(14, 10, 10);
    color: #fff;
    text-align: center;
}
.aside >.row{
    height: 100%;
}
@media screen and (max-width : 992px){
    .content > .row{
        height: calc(100vh - 160px);
    }
    .row .article{
        height: auto;
    }
    .row .aside{
        height: auto;
    }
}
@media screen and (max-width : 576px){
    
    .row .article{
       height: auto;
    }
    .row .aside{
        height: auto;
    }
    nav{
        height: 100px;
    }
    .main{
        height: calc(100vh - 260px);
    }
}